.title{
    color: red;
    text-align: center;
}
.text{
    color: green;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}
.toflx{
    display: flex;
    list-style:  none;
    justify-content: space-around;
    font-size: 45px;
}

.toflx li a {
    color: black;
    text-decoration: none;
    padding: 25px;
}
.toflx li a:hover {
    border-bottom: 3px solid black;
}
form{
    display: flex;
    flex-direction: column;
}
.container{
    width: 300px;
}
.creat{
    color: blue;
}
