<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Admin Page
        link(rel='stylesheet', href='css/main.css')
    body
        div.container
            h1 Its ADMIN page, Please enter data
            form(method='POST' action='/admin')
                input(type='text', placeholder='Title of Page' name='titlePage')
                input(type='text', placeholder='First Capture on Page ' name='capture')
                input(type='text', placeholder='Text under Capture' name='textpl')

                button.btn.btn-primary(type='submit') accept
        ul.toflx
            li
                a(href="http://localhost:3000/") Home
                a(href="http://localhost:3000/about") About
                a(href="http://localhost:3000/contact") Contact
