<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel='stylesheet', href='css/main.css')
    body
        h1.title #{h1}
        p.text #{p}
         ul.toflx
            li
                a(href="http://localhost:3000/") Home
                a(href="http://localhost:3000/about") About
                a(href="http://localhost:3000/contact") Contact
                a(href="http://localhost:3000/admin") Admin
        